In [1]:
import os
import json
import pandas as pd
import numpy as np

In [2]:
import text_wrangler

In [3]:
os.chdir('..')
os.chdir('..')

In [4]:
pwd

'D:\\springboard\\capstone\\springboard-capstone-project\\app'

## Sentiment data

In [87]:
# Read data
sent = pd.read_csv('data/sent/all-data.csv', encoding="ISO-8859-1", header=None)
sent.columns = ['sent', 'headline']

In [88]:
texts = sent.headline.copy()
texts = texts.str.replace(" '", "'")
texts = texts.str.replace(" n't", "n't")
texts = texts.str.replace("'s ", " ")
texts = text_wrangler.preprocess_texts(texts)

In [89]:
texts

0       accord Gran company no plan move production Ru...
1       Technopolis plan develop stage area no less sq...
2       international electronic industry company Elco...
3       new production plant company would increase ca...
4       accord company update strategy year Basware ta...
                              ...
4841    LONDON MarketWatch Share price end lower Londo...
4842    Rinkuskiai beer sale fall per cent million lit...
4843    operate profit fall EUR mn EUR mn include vess...
4844    net sale Paper segment decrease EUR mn second ...
4845    sale Finland decrease January sale outside Fin...
Name: headline, Length: 4846, dtype: object

In [90]:
sent['headline_clean'] = texts

In [22]:
num_words = 2000
max_len = 25
train_padded, word_index = text_wrangler.encode_text_into_sequence(texts, num_words, max_len)

In [92]:
# Target
target = sent.sent.map({'positive': 1, 'neutral': 0, 'negative': -1})
sent_encoded = pd.concat((target, pd.DataFrame(train_padded)), axis=1)

In [94]:
sent_encoded

,sent,0,1,2,3,4,5,6,7,8,...,15,16,17,18,19,20,21,22,23,24
0,0,59,1,3,178,74,352,52,95,1,...,0,0,0,0,0,0,0,0,0,0
1,0,655,74,94,922,82,178,923,498,1272,...,924,445,4,0,0,0,0,0,0,0
2,-1,214,154,75,3,273,460,757,97,925,...,1,140,758,687,1,39,0,0,0,0
3,1,19,52,40,3,83,25,184,688,49,...,204,1273,25,52,926,0,0,0,0,0
4,1,59,3,1004,282,13,227,166,427,10,...,10,7,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4841,-1,578,1,9,67,89,559,578,612,1,...,1168,0,0,0,0,0,0,0,0,0
4842,0,1,403,7,121,54,291,8,1175,1,...,8,1175,0,0,0,0,0,0,0,0
4843,-1,27,11,121,2,5,2,5,28,584,...,0,0,0,0,0,0,0,0,0,0
4844,-1,10,7,86,371,90,2,5,102,22,...,459,685,342,60,2,5,2,5,0,0
4845,-1,7,12,90,148,7,708,12,496,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
sent.to_csv('data/sent/data_clean.csv', index=False)
sent_encoded.to_csv('data/sent/data_encoded.csv', index=False)
with open("data/sent/word_index.json", "w") as outfile:
    json.dump(word_index, outfile)

## NYT data

In [96]:
nyt = pd.read_csv('data/nyt/nyt.csv', encoding="ISO-8859-1")

In [97]:
nyt.headline

0        Addenda: Whitehall Parts Ways With Young & Rub...
1                A Famous $35 Emblem Put to Charitable Use
2                    Masius Is Enlarging Its New York Shop
3               Sara Lee Apparel Unit Selects a New Agency
4                                  World Business Briefing
                               ...
80200    Gates Foundation commits more than $2 billion ...
80201    Iranian Disinformation Effort Went Small to St...
80202    Amazon says the new F.T.C. chair, Lina Khan, s...
80203    Didi, the Chinese Ride-Hailing Giant, Makes It...
80204    An NFT of the World Wide Web sells for $5.4 mi...
Name: headline, Length: 80205, dtype: object

In [98]:
nyt.shape

(80205, 6)

In [99]:
nyt = nyt.dropna(subset=['headline']).reset_index()

In [100]:
nyt.shape

(80193, 7)

In [102]:
texts = nyt.headline.copy()

In [103]:
texts = text_wrangler.preprocess_texts(texts)

In [104]:
texts

0               Addenda Whitehall Parts Ways young Rubicam
1                         famous Emblem put charitable use
2                             Masius enlarge New York Shop
3                  Sara Lee Apparel Unit select New Agency
4                                  World Business Briefing
                               ...
80188    Gates Foundation commit billion gender equalit...
80189    Iranian Disinformation Effort go small stay Bi...
80190    Amazon say new FTC chair Lina Khan recuse inve...
80191    Didi Chinese RideHailing Giant make Debut Wall...
80192                      NFT World Wide Web sell million
Name: headline, Length: 80193, dtype: object

In [105]:
texts = texts.map(lambda x: x.lower())

In [106]:
nyt['headline_clean'] = texts

In [107]:
num_words = 2000
max_len = 25
train_padded, word_index = text_wrangler.encode_text_into_sequence(texts, num_words, max_len)

In [108]:
nyt.to_csv('data/nyt/data_clean.csv', index=False)
sent_clean.to_csv('data/nyt/data_encoded.csv', index=False)
with open("data/nyt/word_index.json", "w") as outfile:
    json.dump(word_index, outfile)

## References

A Practitioner's Guide to Natural Language Processing (Part I) — Processing & Understanding Text  
https://towardsdatascience.com/a-practitioners-guide-to-natural-language-processing-part-i-processing-understanding-text-9f4abfd13e72

NLP – Expand contractions in Text Processing  
https://www.geeksforgeeks.org/nlp-expand-contractions-in-text-processing/

Text Normalization for Natural Language Processing (NLP)  
https://towardsdatascience.com/text-normalization-for-natural-language-processing-nlp-70a314bfa646

A hands-on intuitive approach to Deep Learning Methods for Text Data — Word2Vec, GloVe and FastText  
https://towardsdatascience.com/understanding-feature-engineering-part-4-deep-learning-methods-for-text-data-96c44370bbfa

Tokenization and Text Data Preparation with TensorFlow & Keras  
https://www.kdnuggets.com/2020/03/tensorflow-keras-tokenization-text-data-prep.html