In [1]:
import os
import csv
import requests
import zipfile
import io
import pandas as pd
from datetime import datetime

In [4]:
from etl import etl_alpha_api, etl_alpha_table
from utils import sql_manager
from utils import utils

In [8]:
api_key = os.environ.get('ALPHAVANTAGE_API_KEY')

In [6]:
sql = sql_manager.ManagerSQL()

In [7]:
query = 'select * from assets_tiingo limit 100'
sql.select_query(query)

    ticker exchange asset_type price_currency  start_date    end_date
0   000001      SHE      Stock            CNY  2007-01-04  2022-09-28
1   000002      SHE      Stock            CNY  2007-01-04  2022-09-28
2   000004      SHE      Stock            CNY  2007-08-31  2022-09-28
3   000005      SHE      Stock            CNY  2007-08-31  2022-09-28
4   000006      SHE      Stock            CNY  2007-01-04  2022-09-28
..     ...      ...        ...            ...         ...         ...
95  000425      SHE      Stock            CNY  2007-01-04  2022-09-28
96  000426      SHE      Stock            CNY  2007-08-30  2022-09-28
97  000428      SHE      Stock            CNY  2007-08-30  2022-09-28
98  000429      SHE      Stock            CNY  2007-01-04  2022-09-28
99  000430      SHE      Stock            CNY  2007-08-30  2022-09-28

[100 rows x 6 columns]

In [9]:
URL_BASE = 'https://www.alphavantage.co/query?function='

In [10]:
symbol = 'AMZN'

In [34]:
"BALANCE_SHEET"

'BALANCE_SHEET'

In [20]:
url = '{URL_BASE}INCOME_STATEMENT&symbol={symbol}&apikey={api_key}'

In [21]:
scraper = etl_alpha_api.AlphaScraper()

In [22]:
download = scraper.hit_api(url, symbol=symbol)
data_json = download.json()

Remaining api requests: 74

In [23]:
data_json.keys()

dict_keys(['symbol', 'annualReports', 'quarterlyReports'])

In [24]:
data_json['annualReports']

[{'fiscalDateEnding': '2021-12-31',
  'reportedCurrency': 'USD',
  'grossProfit': '126928000000',
  'totalRevenue': '467958000000',
  'costOfRevenue': '341030000000',
  'costofGoodsAndServicesSold': '272344000000',
  'operatingIncome': '24879000000',
  'sellingGeneralAndAdministrative': '58274000000',
  'researchAndDevelopment': '56052000000',
  'operatingExpenses': '69686000000',
  'investmentIncomeNet': '448000000',
  'netInterestIncome': '-1809000000',
  'interestIncome': '448000000',
  'interestExpense': '1809000000',
  'nonInterestIncome': '469767000000',
  'otherNonOperatingIncome': '14633000000',
  'depreciation': '22900000000',
  'depreciationAndAmortization': '10412000000',
  'incomeBeforeTax': '38164000000',
  'incomeTaxExpense': '4800000000',
  'interestAndDebtExpense': '1809000000',
  'netIncomeFromContinuingOperations': '33355000000',
  'comprehensiveIncomeNetOfTax': '32168000000',
  'ebit': '39973000000',
  'ebitda': '50385000000',
  'netIncome': '33364000000'},
 {'fiscalDateEnding': '2020-12-31',
  'reportedCurrency': 'USD',
  'grossProfit': '102560000000',
  'totalRevenue': '384452000000',
  'costOfRevenue': '281892000000',
  'costofGoodsAndServicesSold': '233307000000',
  'operatingIncome': '22899000000',
  'sellingGeneralAndAdministrative': '39576000000',
  'researchAndDevelopment': '42740000000',
  'operatingExpenses': '49985000000',
  'investmentIncomeNet': '555000000',
  'netInterestIncome': '-1647000000',
  'interestIncome': '555000000',
  'interestExpense': '1647000000',
  'nonInterestIncome': '386099000000',
  'otherNonOperatingIncome': '2371000000',
  'depreciation': '16200000000',
  'depreciationAndAmortization': '9009000000',
  'incomeBeforeTax': '24231000000',
  'incomeTaxExpense': '2900000000',
  'interestAndDebtExpense': '1647000000',
  'netIncomeFromContinuingOperations': '21331000000',
  'comprehensiveIncomeNetOfTax': '22137000000',
  'ebit': '25878000000',
  'ebitda': '34887000000',
  'netIncome': '21331000000'},
 {'fiscalDateEnding': '2019-12-31',
  'reportedCurrency': 'USD',
  'grossProfit': '67626000000',
  'totalRevenue': '278902000000',
  'costOfRevenue': '211276000000',
  'costofGoodsAndServicesSold': '165536000000',
  'operatingIncome': '14541000000',
  'sellingGeneralAndAdministrative': '35081000000',
  'researchAndDevelopment': '35931000000',
  'operatingExpenses': '46941000000',
  'investmentIncomeNet': '832000000',
  'netInterestIncome': '-1600000000',
  'interestIncome': '832000000',
  'interestExpense': '1600000000',
  'nonInterestIncome': '280502000000',
  'otherNonOperatingIncome': '203000000',
  'depreciation': '15100000000',
  'depreciationAndAmortization': '10659000000',
  'incomeBeforeTax': '13988000000',
  'incomeTaxExpense': '2400000000',
  'interestAndDebtExpense': '1600000000',
  'netIncomeFromContinuingOperations': '11588000000',
  'comprehensiveIncomeNetOfTax': '11637000000',
  'ebit': '15588000000',
  'ebitda': '26247000000',
  'netIncome': '11588000000'},
 {'fiscalDateEnding': '2018-12-31',
  'reportedCurrency': 'USD',
  'grossProfit': '65283000000',
  'totalRevenue': '231264000000',
  'costOfRevenue': '165981000000',
  'costofGoodsAndServicesSold': '139156000000',
  'operatingIncome': '12421000000',
  'sellingGeneralAndAdministrative': '26350000000',
  'researchAndDevelopment': '28837000000',
  'operatingExpenses': '27999000000',
  'investmentIncomeNet': '440000000',
  'netInterestIncome': '-1417000000',
  'interestIncome': '440000000',
  'interestExpense': '1417000000',
  'nonInterestIncome': '232681000000',
  'otherNonOperatingIncome': '-183000000',
  'depreciation': '12138000000',
  'depreciationAndAmortization': '475000000',
  'incomeBeforeTax': '11270000000',
  'incomeTaxExpense': '1197000000',
  'interestAndDebtExpense': '1417000000',
  'netIncomeFromContinuingOperations': '10073000000',
  'comprehensiveIncomeNetOfTax': '9526000000',
  'ebit': '12687000000',
  'ebitda': '13162000000',
  'netIncome': '10073000000'},
 {'fiscalDateEnding': '2017-12-31',
  'reportedCurrency': 'USD',
  'grossProfit': '51222000000',
  'totalRevenue': '177265000000',
  'costOfRevenue': '126043000000',
  'costofGoodsAndServicesSold': '111934000000',
  'operatingIncome': '4106000000',
  'sellingGeneralAndAdministrative': '13743000000',
  'researchAndDevelopment': '22620000000',
  'operatingExpenses': '14949000000',
  'investmentIncomeNet': '202000000',
  'netInterestIncome': '-848000000',
  'interestIncome': '202000000',
  'interestExpense': '848000000',
  'nonInterestIncome': '247000000',
  'otherNonOperatingIncome': '346000000',
  'depreciation': '8800000000',
  'depreciationAndAmortization': '366000000',
  'incomeBeforeTax': '3802000000',
  'incomeTaxExpense': '769000000',
  'interestAndDebtExpense': '848000000',
  'netIncomeFromContinuingOperations': '3033000000',
  'comprehensiveIncomeNetOfTax': '3534000000',
  'ebit': '4650000000',
  'ebitda': '5016000000',
  'netIncome': '3033000000'}]

In [29]:
def f(s: str, **kwargs):
    print(kwargs)
    print(s.format(**kwargs))

In [30]:
my_s = "Mi perro {perro} se comiÃ³ al gato {gato}"

In [31]:
my_s

'Mi perro {perro} se comiÃ³ al gato {gato}'

In [32]:
f(my_s, perro='Rayo', gato='Nermal')

{'perro': 'Rayo', 'gato': 'Nermal'}
Mi perro Rayo se comiÃ³ al gato Nermal

In [33]:
my_s.format(perro='Toronja', gato='Garfield')

'Mi perro Toronja se comiÃ³ al gato Garfield'